body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: "#08162C";
}
html, body, #root, main {
  height: 100%;
}
#root {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #08162C;
}


::-webkit-scrollbar-thumb {
  background: #FFEAFA;
  border-radius: 80rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFC9F3;
}

ul::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

ul::-webkit-scrollbar-thumb {
  background: #ECECEC;
  border-radius: 80rem;
}

ul::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 215, 215);
}